@charset "UTF-8";
/* offset-x | offset-y | blur-radius | color */
#div1{
    margin-top: 0px;
	margin-right: 50px;
	margin-left: 50px;
	box-shadow: 0px 1px 4px black;
	padding-bottom: 30px;
	min-width: 554px;
	}

.title{
	color: white;
	text-align: center;
	padding-right: 170px;
	}
	
	
body{
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-left: 0px;
	}

.input{
    padding-top: 30px;
    padding-bottom: 30px;
}
.header{
	display: grid;
	grid-template-columns: auto auto auto;
	align-items: center;
	background-color: #282B7E;
	padding-top: 1px;
	padding-bottom: 1px;
	color: white;
	padding-right: 50px;
	min-width: 734px;
	}
	
#submit{
	border: none;
	color: white;
	display: inline-block;
	background-color: #838383;
	margin-top: 37px; 
	margin-bottom: 390px; 
	/* top - right - bottom - left */
	padding: 5px 15px;
	
}
#submit:hover {background: #5d5d5e;
			   cursor: pointer;
			   }
			   
#logout{
	border: none;
	color: white;
  	background-color: inherit;
  	font-family: Times New Roman;

}

#logout:hover {
	cursor: pointer;
	color: #FFFAFA;
}


.IDUSER{
	color: white;
	text-align: left;
	padding-left: 10px;
	width: 210px;
	}
p{
	margin-top: 5px;
	margin-bottom: 5px;
	width: inherit;
}
